*{
    box-sizing:border-box;
}
body{
    margin:0;
    background: rgb(165, 186, 223);
}
nav{
    background:#cae0f8;
    width:200%;
    overflow: auto;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
li{
    float:left;
}
nav a{
    width:120p;
    display:block;
    text-decoration:none;
    text-align:center;
    background: #b580c4;
    font-size: 16px;
    color:white;
    padding:20px 10px;
    font-family: Ariel;
}
nav a:hover{
    background: skyblue;
    color:black;
}
.container{
    max-width:1200px;
    margin:auto;
    background: Skyblue;
    overflow:auto;  
}
.products{
    margin:5px;
    border:1px solid #5bdcd1;
    float:left;
    width:390px;
}
.products img{
    width:99%;
    height:130px;
    display: table;
}
.desc{
    padding:15px;
    text-align:center;   
}
.products img{
    text-align: center;
}
.products img:hover{
    background: skyblue;
    color:black;
}

input, label {
    float:left;
    margin:10px;
}

.products :hover{
    background-color: rgb(231, 169, 203);
    border: none;
    padding: 10px 20px;
}



